/.center.jumbotron
/  h1 welcome to the sample app
/  h2
/    | the is the home page for the
/    a href="http://www.railstutorial.org"  ruby on rails
/  = link_to "sign up now" ,signup_path, class: "btn btn-lg btn-primary"
