<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "simple app","#",id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", static_pages_home_path %></li>
        <li><%= link_to "help", static_pages_help_path %></li>
        <li><%= link_to "log in" ,'#'%></li>
      </ul>
    </nav>
  </div>
</header>